// collection
.ion-photo-viewer {
  div {
    height: 100%;
    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      border-radius: 18px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
