.swiper_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--secondary);
  box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.17) inset,
    -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset;

  -webkit-box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.17) inset,
    -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset;
  -moz-box-shadow: -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset,
    -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset;

  .swiper-wrapper {
    width: 30%;
    .swiper-slide {
      margin: 0px 1.4rem;
      img {
        object-fit: cover;
        filter: drop-shadow(
          rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px
        );

        --webkit-filter: drop-shadow(
          rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px
        );
        --moz-filter: drop-shadow(
          rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px
        );
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        background-size: cover;
        margin: 0px 40px;
        border-radius: 20px;
        border: 6px solid #fff;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .swiper-wrapper {
      width: 100%;
      .swiper-slide {
        margin: 0px;
      }
    }
  }

  @media screen and (max-width: 425px) {
    // .swiper {
    //   border-radius: 20px;
    // box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.17) inset,
    //   -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset;

    // -webkit-box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.17) inset,
    //   -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset;
    // -moz-box-shadow: -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset,
    //   -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset;
    //   background-color: #dedede;
    //   .swiper-slide {
    //     margin: 20px;

    //     img {
    //       display: block;
    //       width: 100%;
    //       height: 100%;
    //       object-fit: cover;
    //       filter: drop-shadow(
    //         rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    //         rgba(255, 255, 255, 0.8) -6px -2px 16px 0px
    //       );
    //       border-radius: 5%;
    // box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    //   rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    // -webkit-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    //   rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    // -moz-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    //   rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    //     }
    //   }
    // }
  }

  @media screen and (max-width: 375px) {
    // .swiper {
    //   border-radius: 20px;
    // box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.17) inset,
    //   -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset;

    // -webkit-box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.17) inset,
    //   -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset;
    // -moz-box-shadow: -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset,
    //   -1px -4px 3px 0px rgba(0, 0, 0, 0.17) inset;
    //   background-color: #dedede;
    //   .swiper-slide {
    //     margin: 20px;

    //     img {
    //       display: block;
    //       width: 100%;
    //       height: 100%;
    //       object-fit: cover;
    //       filter: drop-shadow(
    //         rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    //         rgba(255, 255, 255, 0.8) -6px -2px 16px 0px
    //       );
    //       border-radius: 5%;
    //       // box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    //       //   rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    //       // -webkit-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    //       //   rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    //       // -moz-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    //       //   rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    //     }
    //   }
    // }
  }
}
