.mySwiper {
  .swiper-wrapper {
    .swiper-slide {
      .image-wraper {
        width: 70%;
        img {
          border-radius: 20px;
          width: 100%;
          height: 240px;
          object-fit: cover;
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
          
        }
      }
    }
  }
}
